*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

input,
select,
button {
    appearance: none;
    -webkit-appearance: none;
}

.logout__button-submit {
    background: none;
    border: none;
    padding: 6px 12px;
    font: inherit;
    cursor: pointer;
}

.admin-dashboard {
    margin: 0 auto;
    text-align: center;
    max-width: 1230px;
}

.admin-dashboard__heading {
    margin: 30px 0;
}

.admin-filter {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    justify-content: space-between;
}

.admin-filter__input--text {
    width: 300px;
    padding: 10px 10px;
    text-align: center;
    border: solid 0.5px #8A796F;
    outline: none;
    background-color: rgb(238, 238, 238,0.5);
}

.admin-filter__select--gender {
    width: 80px;
    padding: 10px 10px;
    text-align: center;
    border: solid 0.5px #8A796F;
    outline: none;
    background-color: rgb(238, 238, 238, 0.8);
    cursor: pointer;
}

.admin-filter__select--content {
    width: 200px;
    padding: 10px 10px;
    text-align: center;
    border: solid 0.5px #8A796F;
    outline: none;
    background-color: rgb(238, 238, 238, 0.8);
    cursor: pointer;
}

.admin-filter__input--date {
    width: 120px;
    padding: 10px 10px;
    text-align: center;
    border: solid 0.5px #8A796F;
    outline: none;
    background-color: rgb(238, 238, 238, 0.8);
    cursor: pointer;
}

.admin-filter__button--search {
    padding: 10px;
    width: 90px;
    border: none;
    background: #8A796F;
    color: #fff;
    cursor: pointer;
}

.admin-filter__button--reset {
    padding: 10px;
    width: 90px;
    border: none;
    background: rgb(216, 190, 158);
    color: #fff;
    cursor: pointer;
}

.admin-dashboard__list{
    margin-top: 30px;
}

.admin-dashboard__list-header {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.admin-dashboard__button--export {
    width: 120px;
    height: 35px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #eee;
    cursor: pointer;
}

.admin-dashboard__pagination {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.admin-dashboard__pagination a,
.admin-dashboard__pagination span {
    padding: 6px 12px;
    border: 0.5px solid #8A796F;
    text-decoration: none;
    color: #8A796F;
}

.admin-dashboard__pagination span.relative.inline-flex {
    background: #8A796F;
    color: white;
}

.admin-dashboard__pagination .inline-flex>* {
    margin-left: -1px;
}

.admin-dashboard__pagination svg {
    width: 16px;
    height: 16px;
}

.admin-table {
    margin-top: 30px;
}

.admin-table__inner {
    text-align: center;
    margin: 0 auto;
    width: 86%;
    border: solid 0.5px #8A796F;
    border-collapse: collapse;
}

.admin-table__row {
    height: 50px;
}

.admin-table__row:hover{
    background-color: #f5f5f5;
}

.admin-table__header--name,
.admin-table__header--gender,
.admin-table__header--email,
.admin-table__header--content,
.admin-table__header--detail {
    background: #8A796F;
    color: white;
}

.admin-table__header--name {
    width: 200px;
}

.admin-table__header--gender {
    width: 100px;
}

.admin-table__header--email {
    width: 300px;
}

.admin-table__header--content {
    width: 250px;
}

.admin-table__text {
    border-bottom: 0.5px solid #8A796F;
    margin: 0;
}

.admin-table__detail {
    width: 70px;
    height: 30px;
    padding: 5px 10px;
    text-align: center;
    border: solid 0.5px #8A796F;
    outline: none;
    color: rgba(138, 121, 111, 0.5);
    background-color: rgb(238, 238, 238, 0.8);
    cursor: pointer;
}

input::placeholder {
    color: rgba(138, 121, 111, 0.7);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal[style*="block"] {
    display: flex !important;
}

.modal-content {
    background: #ffffff;
    width: 700px;
    max-width: 90%;
    padding: 50px 60px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow-y: auto;
}

#modal-close {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
    border: 0.5px solid #8b7969;
    border-radius: 50%;
    cursor: pointer;
    color: #8b7969;

}

.modal-item {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 20px;
    align-items: start;
}

.modal-title {
    font-weight: bold;
    color: #8A796F;
}

.modal-item span:last-child {
    color: #5a4a3f;
    line-height: 1.6;
}

#modal-name,#modal-gender,
#modal-email,#modal-tel,
#modal-address,#modal-building,
#modal-category,#modal-detail {
    color:#8A796F;
}

.delete-form {
    text-align: center;
    margin-top: 40px;
}


.delete-form__button {
    background: #d34836;
    color: white;
    border: none;
    padding: 10px 28px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;

}

.delete-form__button:hover {
    background: #b93628;
}