* {
    color: #8A796F;
    font-family:
            'Playfair Display',
            'Noto Sans JP',
            'Hiragino Sans',
            'Yu Gothic',
            sans-serif;
}

.header {
    border-bottom: 0.5px solid rgba(138, 121, 111, 0.4);
    background-color: #fff;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner {
    padding: 20px 15px;
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
}

.header__logo {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}