.contact-form__content{
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
}

.contact-form__heading{
    margin: 30px 0;
}

.form__group{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.form__group-title{
    width: 25%;
    text-align: left;
    margin: 10px 0 0 0;
}

.form__label--required {
    color: red;
}

.form__group-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.form__item--name{
    width: 35%;
    margin: 0 30px;
}

.form__item-input{
    width: 100%;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #eee;
    border-radius: 3px;
}

.form__item--gender{
    display: flex;
    margin: 0 30px;
    padding: 5px 0 0 0
}

.form__item--tel-group{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 30px;
}

.form__item--tel{
    width: 20%;
}

.form__item--tel-separator{
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form__item--email, .form__item--address, .form__item--building, .form__item--detail{
    width: 100%;
    margin: 0 30px;
}

.form__item--content{
    width: 45%;
    margin: 0 30px;
}

.form__item-select{
    width: 100%;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #eee;
    border-radius: 3px;
    color: rgba(138, 121, 111, 0.7);
}

.form__item-textarea{
    width: 100%;
    height: 100px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #eee;
    border-radius: 3px;
}

.form__button-submit{
    width: 150px;
    height: 40px;
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #8A796F;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    color: rgba(138, 121, 111, 0.7);
}

input[type="radio"] {
    accent-color: #8A796F;
    outline: none;
}