.contact-form__content {
    max-width: 1230px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.form {
    margin: 40px;
    margin-top: 50px;
}

.form__group {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.form__group-title {
    margin-top: 10px;
}

.form__group-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
    text-align: left;
}

.form__group-wrapper {
    width: 60%;
}

.form__label--required {
    color: red;
}

.form__item--name {
    width: 40%;
}

.form__item--gender{
    width: 25%;
}

.form__item--tel {
    width: 25%;
}

.form__item--tel-separator {
    margin-top: 5px;
}

.form__item--content {
    position: relative;
}

.form__item--content::after {
    content: "▼";
    position: absolute;
    right: 2px;
    top: 35%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #8A796F;
}

.form__item--email,
.form__item--address,
.form__item--building,
.form__item--detail {
    width: 100%;
}

.form__item-input,
.form__item-select,
.form__item-textarea {
    width: 100%;
    padding: 12px 12px 12px 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #eee;
}

.form__item-textarea {
    height: 160px;
}

.form__button-submit {
    margin: 0 auto;
    margin-top: 50px;
    width: 180px;
    height: 45px;
    background: #8A796F;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.error-form {
    color: red;
    line-height: 1.5;
    min-height: 1.5em;
    text-align: left;
}

input[type="radio"] {
    accent-color: #8A796F;
    outline: none;
}

